<!DOCTYPE html>
<html lang="en">
<head>
  
  {{> head }}
  <title>Password Reset - {{seo.title}}</title>
  
  <link rel="stylesheet" href="/css/style.css" />
<style>
#loginContainer{
  width: min(99%, 600px);
  height: auto;
  position: absolute;
  top: 2px; left: 50%;
  transform: translateX(-50%);
  background: rgb(0 0 0/ 33%);
  padding:10px;
  border-radius: 15px;
  backdrop-filter: blur(18px);
  box-shadow: 3px 4px 17px 0px rgb(22 62 121 / 0.25);
}
@media (width >= 600px) {
  #loginContainer{
    top: 5%;
  }
}
footer{
  position: absolute;
  bottom:0;
  width:100%;text-align:center;
}
 
h1{
  text-align:center;
  color: white;
  padding-bottom:2px;
}
h2{
  text-align:center;
  color: white;
  padding-bottom:20px;
}
  
.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.row label {
  font-size: 13px;
  color: white;
  margin-inline:15px;
}

.row input {
  flex: 1;
  padding: 13px;
  margin-inline:15px;
  background-color:rgba(0,0,0,0.25);
  border: 1px solid #d6d8e6;
  color:white;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: rgba(255,255,255,0.4);
}
.row.inputEmpty::after{
  content: attr(data-placeholder);
  position: absolute;
  top:calc(50% + 7px);left:29px;
  transform:translateY(-50%);
  color: #aaa
}

.buttonRow{
  display:flex;
  padding-inline: 15px;
  gap:3px;
}

.btns  {
  width: calc(100% - 0.1px);
  padding: 12px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  transition: background 0.1s linear;
  border-radius: 5px;
  border: 1px solid #aaa;
  text-align:center;
  text-decoration:none;
}

.btn1{background: var(--theme2);}
.btn2{background: #222;}
.btn1:hover {background: #0e4d7c;}
.btn2:hover {background: #090909;}

#errMsg{
  font-size: 1rem;
  color: white; width:100%;
  font-weight:700;
  display: block;
  height: 1.4rem;
  text-align: center;
  padding-bottom:10px;
}
  
</style>
</head>
<body>
  
  <div id="loginContainer">
    <h1>Forgot Account Password?</h1>
    <h2></h2>
    <form action="/resetPassword" method="post" onsubmit="formSubmit(event)">
        <div class="row inputEmpty" data-placeholder="Enter your userid">
            <label for="userid">UserId</label>
            <input type="text" name="formUserdata" autocomplete="off" oninput="useridInput()">
        </div>

        <span id="errMsg">{{ error }}</span>
        <div class="buttonRow">
          <button type="submit" class="btns btn1 submitBtn">Reset Password</button>
        </div>
        <a href="/login" style="text-decoration:none;display:block;text-align:center;color:white;">Go Back</a>
    </form>
  </div>
  
  
  <footer>© Amrita Vishwa Vidyapeetham, Coimbatore.</footer>
</body>
<script defer>
function formSubmit(evt){
  
  const u = document.querySelector("input[name='formUserdata']").value
  const submitBtn = document.querySelector(".submitBtn")
  const errMsg = document.querySelector("#errMsg")
  if( u == "" ){
    errMsg.innerText = "Username is empty!";      
    evt.preventDefault();
  }else{
    document.querySelector(".submitformGroup").classList.add("load");
    submitBtn.type = "";submitBtn.disabled = true;
  }
}

function useridInput(){
  if(document.querySelector("input[name='formUserdata']").value){
    document.querySelectorAll(".row")[0].classList.remove("inputEmpty")
  }else{
    document.querySelectorAll(".row")[0].classList.add("inputEmpty")
  }
}  

function passwordInput(){
  if(document.querySelector("input[name='formPassword']").value){
    document.querySelectorAll(".row")[1].classList.remove("inputEmpty")
  }else{
    document.querySelectorAll(".row")[1].classList.add("inputEmpty")
  }
}  
  
async function resetPassword(){
  const response = await fetch("/resetPassword")
  const data = await response.json();
}
  
</script>
</html>