    <div id="display" style="width:100%;">
      
      <div class="displayWrapper noSelect myScrollbar">
        
        <span class="material-symbols-outlined icon cancelBtn noSelect" onclick="closeDisplay()">cancel</span>
        <span class="loader"></span>
        
      </div>
      
    </div>