    <div id="mailContainer">
      <div class="mailWrapper noSelect">
          
          <div></div>
          <header style="font-size: clamp(1rem, 3vw + 1rem, 3rem);padding-left:15px;">
            <b style="font-size: 1.5em;display:block;">MAILER</b>
            <p style="font-size: 0.7em;letter-spacing: 0px;font-weight: 200;font-family: system-ui;line-height: 0.5;padding-bottom:5px;">AMRITA CLASSROOM GUIDE</p>
          </header>
          <div id="mailContent">
        
            
          
          </div>
      </div>
    </div>