      <nav class="noSelect">
        <span style="position: relative;">
          <span class="material-symbols-outlined bell" onclick="openMessages()" >notifications</span>
          
          
          
        </span>
        
        <span onclick="showFloorplan(this)" class="floorplanBtn">
          <span class="material-symbols-outlined">map</span>
        </span>
        
        <span style="display:flex;flex-direction:column;gap:25px;">
          <span class="material-symbols-outlined" onclick="logout()">logout</span>
          <span class="material-symbols-outlined" onclick="openSettings()">settings</span>
        </span>
      </nav>