  <div id="passwordReset">
    <span class="material-symbols-outlined icon cancelBtn noSelect" onclick="closeSettings()" style="font-size:3rem;padding:5px;">cancel</span>
    
    <form id="resetPasswordForm" action="/resetMyPassword" method="POST" style="display: flex;flex-direction: column;padding-inline: 10%;width: min(90%, 500px);position: absolute;left: 50%;transform: translateX(-50%);">
      <h1>Reset Account Password?</h1>
      
      <label for="oldPassword">
        Enter Old password
      </label>
        <input type="password" name="oldPassword" placeholder="">
      
      <label for="newPassword">
        Enter New password
      </label>
      <input type="password" name="newPassword" placeholder="">
      <br>
      <button type="submit" value="reset">Reset</button>
      
    </form>
    
  </div>